body {
  font-family: 'Noto Sans Armenian', 'Noto Sans Display', serif;
  font-size: 20px;
  margin: 0 auto;
  max-width: 36em;
  hyphens: auto;
}
main {
  margin: 1px;
}
h1 {
  text-align: center;
}
p {
  margin: 0;
  line-height: 1.8em;
}
p+p {
  text-indent: 1em;
}
footer {
  text-align: center;
}
footer a {
  font-size: 34px;
  text-decoration: none;
  color: #000000;
}
ul {
  list-style: none;
}
li {
  font-size: 24px;
  line-height: 42px;
}
img {
  height: 100%;
  width: auto;
}
